In [8]:
#preparing the environment (loading the sql extension)
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
#connecting to MySQL connection string
#`%sql mysql+pymysql://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}`
%sql mysql+pymysql://root:password@localhost:3306/Airlines

'Connected: root@Airlines'

In [11]:
%%sql
SELECT Aircraft_Type
FROM aircraft;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/Airlines
2 rows affected.

[('Boeing 747',), ('Airbus A350',)]